<form>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" [(ngModel)] = "model.name.first" name="firstName" class="form-control">
        {{model.name.first}}
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" class="form-control">
    </div>
    <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="text" id="phone" name="phone" class="form-control">
    </div>
    <div>
        <label></label>
        <select>
            <option *ngFor="let course of arr">{{course}}</option>
        </select>
    </div>
</form>
<div>
    <p>{{text}}</p>
    <button (click) = "text='keganti'">coba ganti</button>
</div>
